@model List<CRUD.Models.Persona>


<div class="container">

    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Cedula</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
    <tr>
      <td>@item.Cedula</td>
      <td>@item.Nombres</td>
      <td>@item.Apellidos</td>
      <td>@item.Direccion</td>
      <td> 
      <a class="btn btn-outline-danger mb-3 " asp-controller="Persona" asp-action="Eliminar" asp-route-Cedula= "@item.Cedula">
         <i class="far fa-trash-alt"></i>
         </a>
         <a class="btn btn-outline-success mb-3" id="Registrar" asp-controller="Persona" asp-action="Editar" asp-route-Cedula= "@item.Cedula">
         <i class="fas fa-pen-square"></i>
         </a>
      </td>
    </tr>
     }
  </tbody>
</table>

</div>
